Flask
gunicorn
numpy
pandas
scikit-learn
tensorflow-cpu
torch
transformers
openai
speechrecognition
soundfile
librosa
nltk
spacy
openai-whisper
flask flask-ngrok openai-whisper
flask flask-ngrok werkzeug whisper openai-whisper
pyngrok
flask flask-cors py
flask_cors
